<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel ="stylesheet"
          asp-href-include="//wwwwroot//twitterbootstrap//dist//*.min.css"
    <title>SportsStore</title>
    ChAPTEr 8 ■ SPorTSSTorE: A rEAl APPlICATIoN
    205
    ChAPTEr 8 ■ SPorTSSTorE: A rEAl APPlICATIoN
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>